@model List<FaterRasanehMarket.Entities.Order>
<link href="~/assets/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/assets/plugins/datatables/jquery.dataTables.js"></script>
<script href="~/assets/plugins/datatables/dataTables.bootstrap4.js"></script>
<style>
    @@media only screen and (min-width: 800px) {
        .modal-dialog {
            max-width: 800px !important;
        }
    }
    table.dataTable {
        border-collapse: separate !important;
        max-height: 50px;
    }

    .paginate_button {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #ddd;
    }

    .current {
        background-color: dodgerblue;
        color: white;
    }

    .table.dataTable td, table.dataTable th {
        text-align: center;
    }

    label {
        direction: rtl;
    }
</style>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>کاربرانی که از این کد تخفیف استفاده کرده اند</h5>
                <button type="button" class="close btn-link" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body clearfix">
                <table class="table table-hover" style="height: 200px; max-width:800px; overflow: auto;" id="myTable">
                    <thead>
                        <tr>
                            <th>شماره سفارش</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>شماره موبایل</th>
                            <th>پرداختی</th>
                            <th>تخفیف</th>
                            <th>جمع کل</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Customer.FirstName</td>
                            <td>@product.Customer.LastName</td>
                            <td>@product.Customer.PhoneNumber</td>
                            <td>@product.AmountPaid.ToString("N0")</td>
                            <td>@((product.AmountPaid*((100/(int)ViewBag.DiscountPercent)-1)).ToString("N0"))</td>
                            <td>@((product.AmountPaid*100/(int)ViewBag.DiscountPercent).ToString("N0"))</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>
    $('#myTable').DataTable({
        "language": {
            "paginate": {
                "next": "بعدی",
                "previous": "قبلی"
            }
        },
        "info": false,
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": false,
        "autoWidth": false,
        "pageLength": 7,
    });
</script>